
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 16px;
    font-family: Verdana, Tahoma, sans-serif;
}
body{
    background-color: maroon;
}

header{
    background-color: #f6b319;
    margin-bottom: 50px;
}
.brand a{
    color: #557c3e;
    font-size: 28px;
}
.navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.loginbtn{
    color: #f6b319 !important;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
    background-color: #61122f;
    margin-left: 5px;
    border: none;
}
.loginbtn:hover{
    background-color: #4b061f;
}
#tel{
    font-weight: bold;
    background-color: #61122f;
    border-radius: 15px;
    padding: 10px;
    color: #f6b319;
}
#tel:hover{
    background-color: #4b061f;
}

.telephone{
    display: none;
    font-weight: bold;
    background-color: #61122f;
    border-radius: 15px;
    padding: 10px;
    color: #f6b319;
    width: 100%;
    text-align: center;
}
.navigation-list a{
    margin-left: 20px;
    transition: 0.3s;
    color:maroon;
}

.navigation-list a:hover{
    text-shadow: rgb(112, 11, 11) 1px 1px 2px;
    color: #61122f;
}

.navigation-list{
    display: flex;
    align-items: center;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.basket {
    margin: 50px 0;
}
.basket-item {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 20px;
    padding: 10px;
}
.basket-item-container{
    display: flex;
}
.basket-item-img {
    /*background-image: url("../img/menu-tile.jpg");*/
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 150px;
}
.basket-item-img img{
    width: 100%;
}
.basket-item-info {
    margin-left: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.basket-item-title {
}

.basket-item-amount {
    font-size: 16px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    height: 25px;
}
.amount-input{
    width: 35px;
    padding: 0 5px;
    outline: none;
    font-size: 1em;
    margin: 0;
    border: none;
    text-align: center;
    background-color: #ffffff;
    z-index: -1;
}
.amount-input::-webkit-outer-spin-button,
.amount-input::-webkit-inner-spin-button{
    display: none;
}
.amount-input::-moz-focus-inner,
.amount-input::-moz-focus-outer{
    display: none;
}
.inc {
    width: 25px;
    font-size: 1em;
    text-align: center;
    border: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: #b2b2b2;
}
.dec {
    width: 25px;
    text-align: center;
    font-size: 1em;
    border: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #b2b2b2;
}
.inc:hover, .dec:hover{
    cursor: pointer;
    background-color: #8b8b8b;
}
.line{
    border: none;
    background-color: #ffffffb2;
    height: 1px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}
.input-container{
    text-align: left;
    width: 220px;
    margin: 0 auto;
}
.input{
    padding: 3px 5px 5px 5px;
    /*border: 2px solid #005d00;*/
    border:none;
    border-radius: 5px;
    margin-top: 5px;
}
input:focus{
    outline: 2px solid #005d00;
    border: none;
}
.form-wrap{
    text-align: center;
}
.order-btn{
    margin: 5px auto;
    width: 220px;
    padding: 3px 5px 5px 5px;
    color: #61122f !important;
    border: none;
    border-radius: 5px;
    background-color: #f6b319;
    display: block;
}
.order-btn:hover{
    background: #c59015;
}
.empty-basket{
    text-align: center;
    font-size: 20px;
    color: white;
}
.order-info{
    border-radius: 15px;
    padding: 10px;
    width: 220px;
    background-color: #557c3e;
    margin-bottom: 20px;
}
.order-info p{
    color: white;
    font-size: 16px;
}
#information{
    display: none;
}
