* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 16px;
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    background-color: maroon;
}

header {
    background-color: #f6b319;
    margin-bottom: 50px;
}

.brand a {
    color: #557c3e;
    font-size: 28px;
}

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.logform {
    width: auto;
    height: auto;
}

.loginbtn {
    color: #f6b319 !important;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
    background-color: #61122f;
    margin-left: 5px;
    border: none;
}

.loginbtn:hover {
    background-color: #4b061f;
    cursor: pointer;
}

#tel {
    font-weight: bold;
    background-color: #61122f;
    border-radius: 15px;
    padding: 10px;
    color: #f6b319;
}

#tel:hover {
    background-color: #4b061f;
}

.telephone {
    display: none;
    font-weight: bold;
    background-color: #61122f;
    border-radius: 15px;
    padding: 10px;
    color: #f6b319;
    width: 100%;
    text-align: center;
}

.navigation-list a {
    margin-left: 20px;
    transition: 0.3s;
    color: maroon;
}

.navigation-list a:hover {
    text-shadow: rgb(112, 11, 11) 1px 1px 2px;
    color: #61122f;
}

.navigation-list {
    display: flex;
    align-items: center;
}

.container {
    width: 90%;
    margin: 0 auto;
}

h2 {
    font-size: 22px;
}

.single-category {
    margin-bottom: 30px;
}

.single-category-title {
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
}

.dishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dish-item {
    /*display: flex;*/

    /*width: 48.5%;*/
    width: 98%;
    margin-top: 30px;

}

.dish-item-img {
    width: 42%;
    height: 170px;
    position: relative;
}

.dish-item-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.dish-item-price {
    position: absolute;
    bottom: -5px;
    right: -10px;
    background-color: #1b1b1be4;
    color: white;
    padding: 3px;
    text-align: center;
    border-radius: 15px;
    font-size: 0.9em;
}

.dish-item-info {
    padding-left: 15px;
    width: 58%;
}

.dish-item-title {
    color: #fff;
    margin-bottom: 10px;
}

.dish-item-description {
    color: #fff;
    cursor: default;
}

.dish-item-wrapper {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    max-width: 50%;
}
.tobasket:hover {
    background-color: #4b061f;
    cursor: pointer;
}
.tobasket {
    color: #f5bb3a !important;
    border-radius: 10px;
    padding: 10px 5px 12px 5px;
    font-weight: bold;
    background-color: #61122f;
    margin-top: 2px;
    border: none;
    width: 115px;
}

.tobasket:disabled{
    cursor: not-allowed;
    opacity: 0.7;
    background-color: #61122f;
}


@media (max-width: 768px) {
    .dish-item {
        width: 100%;

    }

    .dishes {
        justify-content: center;

    }

    .dish-item-img {
        height: 170px;
    }
}

@media (max-width: 576px) {
    .dish-item {
        display: block;
        margin: 0 auto;
        width: 70%;
        margin-bottom: 20px;
    }

    .dish-item-img {
        width: 100%;
        height: 200px;
    }

    .dish-item-info {
        width: 100%;
    }
}